@import url('https://fonts.googleapis.com/css?family=Roboto:100');

@media only screen and (min-width : 320px) {
    body {
        text-align: center;
    }
    .heading p {
        text-align: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    body {
        text-align: center;
    }
    .heading p {
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body {
        text-align: center;
    }
    .heading p {
        text-align: right;
    }
}


body {
    color: white;
    background-color: #333333;
}

p {
    font-family: "Roboto" sans-serif;
    font-weight: 100;
}

main {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #EF5350;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    padding: 2%;
}

h1, h2, h5{
    color: white;
    font-family: "Roboto" sans-serif;
    font-weight: 100;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #EF5350;
    text-underline-position: under;
}

.heading {
    margin:auto;
    padding: 5%;
    min-height: 100%;
}

.bg-heading {
    min-height: 100vh;
    background-image: url("img/bg_heading.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background: #EF5350;
    padding: 10px 20px 10px 20px;
    border: 0px;
    color: white;
}

.button:hover {
  text-decoration: none;
  background: #f26a68;
}

.test {
    background-color: blue;
    border: 1px;
}

.services {
    width: 80%;
    margin: auto;
}

.services-img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.bg-services {
    min-height: 100vh;
    background-image: url("img/bg_services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-services .col-4 img, .bg-services .col-6 img {
    margin-bottom: 40px;
}

.overlay {
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.75);
    opacity:0;
    -webkit-transition: opacity .25s ease;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
}

.overlay p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay-img:hover .overlay {
               opacity:1;}

.align-center {
    text-align: center;
}

.hs-form {
    border: 1px solid #ffffff;
    background: rgba(0,0,0,0);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    padding:10px 30px;
    margin-bottom:20px;
    width:80%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, select, textarea{
    color: #ffffff;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.bg-booking {
    min-height: 100vh;
    background-image: url("img/bg_bottom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding-bottom: 5%;
}

.shadow-lr {
    box-shadow: -10px 0px 5px 0px rgba(0,0,0,.3), 10px 0px 5px 0px rgba(0,0,0,.3);
}

.shadow-tlr {
    box-shadow: -10px 0px 5px 0px rgba(0,0,0,.3), 10px 0px 5px 0px rgba(0,0,0,.3), 10px -10px 5px 0px rgba(0,0,0,.3);
}

.shadow-blr {
    box-shadow: -10px 0px 5px 0px rgba(0,0,0,.3), 10px 0px 5px 0px rgba(0,0,0,.3), 10px 10px 5px 0px rgba(0,0,0,.3);
}
